@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body{
  @apply bg-[#0d1926] font-['inter']
}
/* @layer base{
  :root{
    --background-color: #0d1926;
    --text-color: #f7fafc;
    --shade-100: #1a324c;
    --shade-300: #4383cb;
    --shade-500: #8cb0d9;
    --secondary-color: #a67a59;
    --grey-color: #303f50;
    --grey-text: #cfd8e2;
}
} */

